html{
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

nav{
    float:right; 
    background-color: black;
}

.container{
    clear:both;
    overflow:auto;
  }

  .logo img{
    float:left;
}

ul li{
  display: inline-block; 
  padding:10px;
  font-size:20px; 
  font-family:raleway; 
  color: white;
  transition: 1s;
}

ul li:hover{
  color:orange;
  cursor: pointer;
}

a:link {
    text-decoration: none;
    color: #ddd;
  }
  
  a:visited {
    text-decoration: none;
    color: #ddd;
  }
  
  a:hover {
    text-decoration: none;
    color: orange;
    transition: 1s;
  }
  
  a:active {
    text-decoration: none;
    color: #ddd;
  }

  #welh1{
    text-align: center;
    border-color: white;
    border-width: 2px;
    font-family: 'Raleway', sans-serif;font-family: 'Raleway', sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

#a, #g {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  ;
}

.pic {
  float: left;
}

#wrapper {
max-width: 1200px;
margin: 0 auto;
padding: 0 5%;
list-style-type: none;
text-decoration: none;
}

#wrapper:hover{
  color: white !important;
  cursor: default !important;
}

.pa{
  float: right;
  text-decoration: none;
}

p{
  float: right;
  margin-left: 80%;
}

ul li:hover{
  cursor: default;
  color: white;
}